h1 {
    color:crimson;
}

h2 {
    color: orange;
}

p {
    color: mediumslateblue;
    font-size: large;
    font-family: "Roboto Light";
}

ol {
    color: deeppink;
}

ul {
    color: red;
}

p.center {
    color: lightseagreen;
    font-size: 35px;
    font-family: "Arial Black";
    text-align: center;
}

ol.upr {
    list-style-type: upper-roman;
    color: darkslateblue;
}

ol.lwa {
    list-style-type: lower-alpha;
}